<div>
  <div>
    <p class="h1 text-uppercase">Product Categories</p>
  </div>

  <br>
  <br>

  <div class="d-flex">
    <div class="flex-grow-1">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>search</mat-label>
        <input matInput placeholder="enter category name or id here to search" type="text">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="p-1 flex-shrink-1">
      <button mat-raised-button color="primary" class="text-uppercase ms-5" (click)="createEntity()">Add Category
      </button>
    </div>
  </div>

  <br>
  <br>

  <div>
    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
        <mat-cell *matCellDef="let entity"> {{ entity.id }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let entity"> {{ entity?.name }} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
        <mat-cell *matCellDef="let entity"> {{ entity?.description }} </mat-cell>
      </ng-container>

      <!-- edit action -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let entity">
          <button mat-icon-button color="accent" (click)="updateEntity(entity)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- delete action -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let entity">
          <button mat-icon-button color="warn" (click)="deleteEntity(entity)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
